In [1]:
!pip3 install yfinance

Collecting yfinance
  Downloading yfinance-0.1.62.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\macch\anaconda3\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: numpy>=1.15 in c:\users\macch\anaconda3\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: requests>=2.20 in c:\users\macch\anaconda3\lib\site-packages (from yfinance) (2.25.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.9.tar.gz (8.1 kB)
Requirement already satisfied: lxml>=4.5.1 in c:\users\macch\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\macch\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\macch\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\macch\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\macch\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\macch\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\macch\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\macch\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py): started
  Building wheel for yfinance (setup.py): finished with status 'done'
  Created wheel for yfinance: filename=yfinance-0.1.62-py2.py3-none-any.whl size=23859 sha256=e28e674cf852613f7128f87ba66fe747f7e2dbe6f81bec8b311ae23868ef206c
  Stored in directory: c:\users\macch\appdata\local\pip\cache\wheels\64\9e\c0\71eb88c1d7be0b5575d10b5de86ccff9b2f4850583d7c36bd3
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8368 sha256=b29647b796a4631b60a1d7c9dddd0e965370a524bcfc7335f460b8e7e43d0b59
  Stored in directory: c:\users\macch\appdata\local\pip\cache\wheels\57\6d\a3\a39b839cc75274d2acfb1c58bfead2f726c6577fe8c4723f13
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.62

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [3]:
aapl = yf.Ticker('AAPL')

In [4]:
aapl

yfinance.Ticker object <AAPL>

In [14]:
days = 50
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109839500,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78973300,0.22,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81918000,0.00,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76857100,0.00,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79295400,0.00,0
2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0.00,0
2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0.00,0
2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0.00,0
2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0.00,0
2021-05-28,125.570000,125.800003,124.550003,124.610001,71311100,0.00,0
2021-06-01,125.080002,125.349998,123.940002,124.279999,67637100,0.00,0
2021-06-02,124.279999,125.239998,124.050003,125.059998,59278900,0.00,0
2021-06-03,124.680000,124.849998,123.129997,123.540001,76229200,0.00,0
2021-06-04,124.070000,126.160004,123.849998,125.889999,75169300,0.00,0
2021-06-07,126.169998,126.320000,124.830002,125.900002,71057600,0.00,0
2021-06-08,126.599998,128.460007,126.209999,126.739998,74403800,0.00,0
2021-06-09,127.209999,127.750000,126.519997,127.129997,56877900,0.00,0
2021-06-10,127.019997,128.190002,125.940002,126.110001,71186400,0.00,0
2021-06-11,126.529999,127.440002,126.099998,127.349998,53522400,0.00,0
2021-06-14,127.820000,130.539993,127.070000,130.479996,96906500,0.00,0
2021-06-15,129.940002,130.600006,129.389999,129.639999,62746300,0.00,0
2021-06-16,130.369995,130.889999,128.460007,130.149994,91815000,0.00,0
2021-06-17,129.800003,132.550003,129.649994,131.789993,96721700,0.00,0
2021-06-18,130.710007,131.509995,130.240005,130.460007,108953300,0.00,0
2021-06-21,130.300003,132.410004,129.210007,132.300003,79663300,0.00,0
2021-06-22,132.130005,134.080002,131.619995,133.979996,74783600,0.00,0
2021-06-23,133.770004,134.320007,133.229996,133.699997,60214200,0.00,0
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.00,0
2021-06-25,133.460007,133.889999,132.809998,133.110001,70783700,0.00,0
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.00,0
2021-06-29,134.800003,136.490005,134.350006,136.330002,64556100,0.00,0
2021-06-30,136.169998,137.410004,135.869995,136.960007,63261400,0.00,0
2021-07-01,136.600006,137.330002,135.759995,137.270004,52485800,0.00,0
2021-07-02,137.899994,140.000000,137.750000,139.960007,78852600,0.00,0
2021-07-06,140.070007,143.149994,140.070007,142.020004,108181800,0.00,0
2021-07-07,143.539993,144.889999,142.660004,144.570007,104911600,0.00,0
2021-07-08,141.580002,144.059998,140.669998,143.240005,105575500,0.00,0
2021-07-09,142.750000,145.649994,142.649994,145.110001,99788400,0.00,0

In [17]:
hist.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [18]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0
1,2021-04-30,131.556541,133.333521,130.847753,131.237091,109839500,0.00,0
2,2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0
3,2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0
4,2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0
5,2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0
6,2021-05-07,130.850006,131.259995,129.479996,130.210007,78973300,0.22,0
7,2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0
8,2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0
9,2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0
10,2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0
11,2021-05-14,126.250000,127.889999,125.849998,127.449997,81918000,0.00,0
12,2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0
13,2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0
14,2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0
15,2021-05-20,125.230003,127.720001,125.099998,127.309998,76857100,0.00,0
16,2021-05-21,127.820000,128.000000,125.209999,125.430000,79295400,0.00,0
17,2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0.00,0
18,2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0.00,0
19,2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0.00,0
20,2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0.00,0
21,2021-05-28,125.570000,125.800003,124.550003,124.610001,71311100,0.00,0
22,2021-06-01,125.080002,125.349998,123.940002,124.279999,67637100,0.00,0
23,2021-06-02,124.279999,125.239998,124.050003,125.059998,59278900,0.00,0
24,2021-06-03,124.680000,124.849998,123.129997,123.540001,76229200,0.00,0
25,2021-06-04,124.070000,126.160004,123.849998,125.889999,75169300,0.00,0
26,2021-06-07,126.169998,126.320000,124.830002,125.900002,71057600,0.00,0
27,2021-06-08,126.599998,128.460007,126.209999,126.739998,74403800,0.00,0
28,2021-06-09,127.209999,127.750000,126.519997,127.129997,56877900,0.00,0
29,2021-06-10,127.019997,128.190002,125.940002,126.110001,71186400,0.00,0
30,2021-06-11,126.529999,127.440002,126.099998,127.349998,53522400,0.00,0
31,2021-06-14,127.820000,130.539993,127.070000,130.479996,96906500,0.00,0
32,2021-06-15,129.940002,130.600006,129.389999,129.639999,62746300,0.00,0
33,2021-06-16,130.369995,130.889999,128.460007,130.149994,91815000,0.00,0
34,2021-06-17,129.800003,132.550003,129.649994,131.789993,96721700,0.00,0
35,2021-06-18,130.710007,131.509995,130.240005,130.460007,108953300,0.00,0
36,2021-06-21,130.300003,132.410004,129.210007,132.300003,79663300,0.00,0
37,2021-06-22,132.130005,134.080002,131.619995,133.979996,74783600,0.00,0
38,2021-06-23,133.770004,134.320007,133.229996,133.699997,60214200,0.00,0
39,2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.00,0
40,2021-06-25,133.460007,133.889999,132.809998,133.110001,70783700,0.00,0
41,2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.00,0
42,2021-06-29,134.800003,136.490005,134.350006,136.330002,64556100,0.00,0
43,2021-06-30,136.169998,137.410004,135.869995,136.960007,63261400,0.00,0
44,2021-07-01,136.600006,137.330002,135.759995,137.270004,52485800,0.00,0
45,2021-07-02,137.899994,140.000000,137.750000,139.960007,78852600,0.00,0
46,2021-07-06,140.070007,143.149994,140.070007,142.020004,108181800,0.00,0
47,2021-07-07,143.539993,144.889999,142.660004,144.570007,104911600,0.00,0
48,2021-07-08,141.580002,144.059998,140.669998,143.240005,105575500,0.00,0
49,2021-07-09,142.750000,145.649994,142.649994,145.110001,99788400,0.00,0

In [21]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-29,254.871484,255.510009,248.426360,251.928268,40589000,0.0,0
2021-04-30,249.164664,252.496965,249.024987,251.599030,30945100,0.0,0
2021-05-03,252.816215,253.764039,250.541469,251.279770,19626600,0.0,0
2021-05-04,250.391829,250.631281,245.193825,247.219147,32756100,0.0,0
2021-05-05,248.486221,248.925210,245.253695,245.902191,21901300,0.0,0

In [22]:
pd.concat([hist,hist_msft], axis=1)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,,,,,,,,
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.00,0,254.871484,255.510009,248.426360,251.928268,40589000,0.00,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109839500,0.00,0,249.164664,252.496965,249.024987,251.599030,30945100,0.00,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.00,0,252.816215,253.764039,250.541469,251.279770,19626600,0.00,0
2021-05-04,130.967542,131.267036,126.485150,127.633202,137564700,0.00,0,250.391829,250.631281,245.193825,247.219147,32756100,0.00,0
2021-05-05,128.980915,130.228796,127.753005,127.882790,84000900,0.00,0,248.486221,248.925210,245.253695,245.902191,21901300,0.00,0
2021-05-06,127.673135,129.529982,126.914422,129.520004,78128300,0.00,0,245.882236,249.284384,244.126296,249.154678,26491100,0.00,0
2021-05-07,130.850006,131.259995,129.479996,130.210007,78973300,0.22,0,251.569089,253.714145,250.591351,251.878387,27032900,0.00,0
2021-05-10,129.410004,129.539993,126.809998,126.849998,88071200,0.00,0,250.292051,251.150071,246.550691,246.610550,29299900,0.00,0
2021-05-11,123.500000,126.269997,122.769997,125.910004,126142800,0.00,0,243.986613,246.031893,242.011178,245.662735,33641600,0.00,0
2021-05-12,123.400002,124.639999,122.250000,122.769997,112172300,0.00,0,241.612097,243.817013,237.521552,238.449402,36684400,0.00,0
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0.00,0,241.242946,245.034195,240.863817,242.470108,29624300,0.00,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81918000,0.00,0,245.014237,248.605934,244.924448,247.578308,23901100,0.00,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0.00,0,245.982012,246.021913,242.958994,244.615158,24970200,0.00,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0.00,0,245.702658,245.842335,242.340411,242.520004,20168000,0.00,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0.00,0,239.309998,243.229996,238.600006,243.119995,25739800,0.56,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76857100,0.00,0,243.960007,247.949997,243.860001,246.479996,21800700,0.00,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79295400,0.00,0,247.570007,248.330002,244.740005,245.169998,21863100,0.00,0
2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0.00,0,247.789993,251.160004,247.509995,250.779999,21411500,0.00,0
2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0.00,0,251.770004,252.750000,250.820007,251.720001,17704300,0.00,0
2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0.00,0,251.429993,252.940002,250.750000,251.490005,17771600,0.00,0
2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0.00,0,251.169998,251.479996,249.250000,249.309998,24426200,0.00,0
2021-05-28,125.570000,125.800003,124.550003,124.610001,71311100,0.00,0,251.000000,252.080002,249.559998,249.679993,18270200,0.00,0
2021-06-01,125.080002,125.349998,123.940002,124.279999,67637100,0.00,0,251.229996,251.289993,246.960007,247.399994,23213300,0.00,0
2021-06-02,124.279999,125.239998,124.050003,125.059998,59278900,0.00,0,248.130005,249.270004,245.839996,247.300003,19406700,0.00,0
2021-06-03,124.680000,124.849998,123.129997,123.540001,76229200,0.00,0,245.220001,246.339996,243.000000,245.710007,25307700,0.00,0
2021-06-04,124.070000,126.160004,123.849998,125.889999,75169300,0.00,0,247.759995,251.649994,247.509995,250.789993,25281100,0.00,0
2021-06-07,126.169998,126.320000,124.830002,125.900002,71057600,0.00,0,249.979996,254.089996,249.809998,253.809998,23079200,0.00,0
2021-06-08,126.599998,128.460007,126.209999,126.739998,74403800,0.00,0,255.160004,256.010010,252.509995,252.570007,22455000,0.00,0
2021-06-09,127.209999,127.750000,126.519997,127.129997,56877900,0.00,0,253.809998,255.529999,253.210007,253.589996,17937600,0.00,0
2021-06-10,127.019997,128.190002,125.940002,126.110001,71186400,0.00,0,254.289993,257.459991,253.669998,257.239990,24563600,0.00,0
2021-06-11,126.529999,127.440002,126.099998,127.349998,53522400,0.00,0,257.989990,258.489990,256.609985,257.890015,18999700,0.00,0
2021-06-14,127.820000,130.539993,127.070000,130.479996,96906500,0.00,0,257.899994,259.950012,256.799988,259.890015,19150500,0.00,0
2021-06-15,129.940002,130.600006,129.389999,129.639999,62746300,0.00,0,259.769989,259.989990,257.679993,258.359985,18038900,0.00,0
2021-06-16,130.369995,130.889999,128.460007,130.149994,91815000,0.00,0,259.399994,260.579987,254.419998,257.380005,27220000,0.00,0
2021-06-17,129.800003,132.550003,129.649994,131.789993,96721700,0.00,0,256.070007,261.750000,256.010010,260.899994,27565500,0.00,0
2021-06-18,130.710007,131.509995,130.240005,130.460007,108953300,0.00,0,259.630005,262.299988,258.750000,259.429993,37202200,0.00,0
2021-06-21,130.300003,132.410004,129.210007,132.300003,79663300,0.00,0,259.820007,263.519989,257.920013,262.630005,26696100,0.00,0
2021-06-22,132.130005,134.080002,131.619995,133.979996,74783600,0.00,0,262.720001,265.790009,262.399994,265.510010,24694100,0.00,0
2021-06-23,133.770004,134.320007,133.229996,133.699997,60214200,0.00,0,265.989990,266.829987,264.429993,265.269989,19518700,0.00,0
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0.00,0,266.160004,267.850006,265.470001,266.690002,21446900,0.00,0
2021-06-25,133.460007,133.889999,132.809998,133.110001,70783700,0.00,0,266.230011,267.250000,264.760010,265.019989,25611100,0.00,0
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0.00,0,266.190002,268.899994,265.910004,268.720001,19590000,0.00,0
2021-06-29,134.800003,136.490005,134.350006,136.330002,64556100,0.00,0,268.869995,271.649994,267.980011,271.399994,19937800,0.00,0
2021-06-30,136.169998,137.410004,135.869995,136.960007,63261400,0.00,0,270.690002,271.359985,269.600006,270.899994,21656500,0.00,0
2021-07-01,136.600006,137.330002,135.759995,137.270004,52485800,0.00,0,269.609985,271.839996,269.600006,271.600006,16725300,0.00,0
2021-07-02,137.899994,140.000000,137.750000,139.960007,78852600,0.00,0,272.820007,278.000000,272.500000,277.649994,26458000,0.00,0
2021-07-06,140.070007,143.149994,140.070007,142.020004,108181800,0.00,0,278.029999,279.369995,274.299988,277.660004,31565600,0.00,0
2021-07-07,143.539993,144.889999,142.660004,144.570007,104911600,0.00,0,279.399994,280.690002,277.149994,279.929993,23260000,0.00,0
2021-07-08,141.580002,144.059998,140.669998,143.240005,105575500,0.00,0,276.899994,278.730011,274.869995,277.420013,24618600,0.00,0
2021-07-09,142.750000,145.649994,142.649994,145.110001,99788400,0.00,0,275.720001,278.049988,275.320007,277.940002,23905500,0.00,0

In [23]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-29,136.238598,136.837586,132.225410,133.253662,151101000,0.0,0
2021-04-30,131.556541,133.333521,130.847753,131.237091,109839500,0.0,0
2021-05-03,131.816094,133.842666,131.606459,132.315247,75135100,0.0,0

In [24]:
hist.index

DatetimeIndex(['2021-04-29', '2021-04-30', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-10',
               '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14',
               '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20',
               '2021-05-21', '2021-05-24', '2021-05-25', '2021-05-26',
               '2021-05-27', '2021-05-28', '2021-06-01', '2021-06-02',
               '2021-06-03', '2021-06-04', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-14',
               '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-28', '2021-06-29', '2021-06-30',
               '2021-07-01', '2021-07-02', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [26]:
hist.index = hist.index.strftime('%d %B %Y')

In [30]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head(3)

                    apple
Date
29 April 2021  133.253662
30 April 2021  131.237091
03 May 2021    132.315247

In [34]:
hist = hist.T
hist

Date,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,...,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021
apple,133.253662,131.237091,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997,...,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001

In [35]:
hist.index.name = 'Name'
hist

Date,29 April 2021,30 April 2021,03 May 2021,04 May 2021,05 May 2021,06 May 2021,07 May 2021,10 May 2021,11 May 2021,12 May 2021,...,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,133.253662,131.237091,132.315247,127.633202,127.88279,129.520004,130.210007,126.849998,125.910004,122.769997,...,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001

In [45]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():   
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = 'Name'
        hist
        df = pd.concat([df,hist])
    return df

In [46]:
days = 20
tickers = {
    'apple' : 'AAPL',
    'facebook' : 'FB',
    'google' : 'GOOGL',
    'microsoft' : 'MSFT',
    'netflix' : 'NFLX',
    'amazon':'AMZN'    
}

get_data(days, tickers)

Date,11 June 2021,14 June 2021,15 June 2021,16 June 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,127.349998,130.479996,129.639999,130.149994,131.789993,130.460007,132.300003,133.979996,133.699997,133.410004,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001
facebook,331.260010,336.769989,336.750000,331.079987,336.510010,329.660004,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,352.779999,350.489990,345.649994,350.420013
google,2430.199951,2448.909912,2428.389893,2415.449951,2434.870117,2402.219971,2436.250000,2446.610107,2442.540039,2450.000000,2450.169922,2450.719971,2445.449951,2441.790039,2448.889893,2505.149902,2523.800049,2529.479980,2500.879883,2510.370117
microsoft,257.890015,259.890015,258.359985,257.380005,260.899994,259.429993,262.630005,265.510010,265.269989,266.690002,265.019989,268.720001,271.399994,270.899994,271.600006,277.649994,277.660004,279.929993,277.420013,277.940002
netflix,488.769989,499.890015,491.899994,492.410004,498.339996,500.769989,497.000000,508.820007,512.739990,518.059998,527.070007,533.030029,533.500000,528.210022,533.539978,533.979980,541.640015,535.960022,530.760010,535.979980
amazon,3346.830078,3383.870117,3383.129883,3415.250000,3489.239990,3486.899902,3453.959961,3505.439941,3503.820068,3449.080078,3401.459961,3443.889893,3448.139893,3440.159912,3432.969971,3510.979980,3675.739990,3696.580078,3731.409912,3719.340088

In [55]:
!pip3 install altair

Collecting altair
  Using cached altair-4.1.0-py3-none-any.whl (727 kB)
Requirement already satisfied: jinja2 in c:\users\macch\anaconda3\lib\site-packages (from altair) (2.11.3)
Requirement already satisfied: entrypoints in c:\users\macch\anaconda3\lib\site-packages (from altair) (0.3)
Requirement already satisfied: pandas>=0.18 in c:\users\macch\anaconda3\lib\site-packages (from altair) (1.2.4)
Requirement already satisfied: numpy in c:\users\macch\anaconda3\lib\site-packages (from altair) (1.20.1)
Requirement already satisfied: toolz in c:\users\macch\anaconda3\lib\site-packages (from altair) (0.11.1)
Requirement already satisfied: jsonschema in c:\users\macch\anaconda3\lib\site-packages (from altair) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\macch\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\macch\anaconda3\lib\site-packages (from pandas>=0.18->altair) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\macch\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.18->altair) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\macch\anaconda3\lib\site-packages (from jinja2->altair) (1.1.1)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\macch\anaconda3\lib\site-packages (from jsonschema->altair) (0.17.3)
Requirement already satisfied: setuptools in c:\users\macch\anaconda3\lib\site-packages (from jsonschema->altair) (52.0.0.post20210125)
Requirement already satisfied: attrs>=17.4.0 in c:\users\macch\anaconda3\lib\site-packages (from jsonschema->altair) (20.3.0)
Installing collected packages: altair
Successfully installed altair-4.1.0

In [56]:
import altair as alt

In [57]:
df

Date,11 June 2021,14 June 2021,15 June 2021,16 June 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,127.349998,130.479996,129.639999,130.149994,131.789993,130.460007,132.300003,133.979996,133.699997,133.410004,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001
facebook,331.260010,336.769989,336.750000,331.079987,336.510010,329.660004,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,352.779999,350.489990,345.649994,350.420013
google,2430.199951,2448.909912,2428.389893,2415.449951,2434.870117,2402.219971,2436.250000,2446.610107,2442.540039,2450.000000,2450.169922,2450.719971,2445.449951,2441.790039,2448.889893,2505.149902,2523.800049,2529.479980,2500.879883,2510.370117
microsoft,257.890015,259.890015,258.359985,257.380005,260.899994,259.429993,262.630005,265.510010,265.269989,266.690002,265.019989,268.720001,271.399994,270.899994,271.600006,277.649994,277.660004,279.929993,277.420013,277.940002
netflix,488.769989,499.890015,491.899994,492.410004,498.339996,500.769989,497.000000,508.820007,512.739990,518.059998,527.070007,533.030029,533.500000,528.210022,533.539978,533.979980,541.640015,535.960022,530.760010,535.979980
amazon,3346.830078,3383.870117,3383.129883,3415.250000,3489.239990,3486.899902,3453.959961,3505.439941,3503.820068,3449.080078,3401.459961,3443.889893,3448.139893,3440.159912,3432.969971,3510.979980,3675.739990,3696.580078,3731.409912,3719.340088

In [89]:
companies = ['apple','facebook']
data = df.loc[companies]
data

Date,11 June 2021,14 June 2021,15 June 2021,16 June 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,127.349998,130.479996,129.639999,130.149994,131.789993,130.460007,132.300003,133.979996,133.699997,133.410004,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001
facebook,331.260010,336.769989,336.750000,331.079987,336.510010,329.660004,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,352.779999,350.489990,345.649994,350.420013

In [90]:
data.sort_index()

Date,11 June 2021,14 June 2021,15 June 2021,16 June 2021,17 June 2021,18 June 2021,21 June 2021,22 June 2021,23 June 2021,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021
Name,,,,,,,,,,,,,,,,,,,,
apple,127.349998,130.479996,129.639999,130.149994,131.789993,130.460007,132.300003,133.979996,133.699997,133.410004,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001
facebook,331.260010,336.769989,336.750000,331.079987,336.510010,329.660004,332.290009,339.029999,340.589996,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,352.779999,350.489990,345.649994,350.420013

In [91]:
data = data.T.reset_index()
data.head()

Name          Date       apple    facebook
0     11 June 2021  127.349998  331.260010
1     14 June 2021  130.479996  336.769989
2     15 June 2021  129.639999  336.750000
3     16 June 2021  130.149994  331.079987
4     17 June 2021  131.789993  336.510010

In [92]:
data = pd.melt(data, id_vars=['Date']).rename(
    columns = {'value': 'Stock Prices(USD)'}
)
data

            Date      Name  Stock Prices(USD)
0   11 June 2021     apple         127.349998
1   14 June 2021     apple         130.479996
2   15 June 2021     apple         129.639999
3   16 June 2021     apple         130.149994
4   17 June 2021     apple         131.789993
5   18 June 2021     apple         130.460007
6   21 June 2021     apple         132.300003
7   22 June 2021     apple         133.979996
8   23 June 2021     apple         133.699997
9   24 June 2021     apple         133.410004
10  25 June 2021     apple         133.110001
11  28 June 2021     apple         134.779999
12  29 June 2021     apple         136.330002
13  30 June 2021     apple         136.960007
14  01 July 2021     apple         137.270004
15  02 July 2021     apple         139.960007
16  06 July 2021     apple         142.020004
17  07 July 2021     apple         144.570007
18  08 July 2021     apple         143.240005
19  09 July 2021     apple         145.110001
20  11 June 2021  facebook         331.260010
21  14 June 2021  facebook         336.769989
22  15 June 2021  facebook         336.750000
23  16 June 2021  facebook         331.079987
24  17 June 2021  facebook         336.510010
25  18 June 2021  facebook         329.660004
26  21 June 2021  facebook         332.290009
27  22 June 2021  facebook         339.029999
28  23 June 2021  facebook         340.589996
29  24 June 2021  facebook         343.179993
30  25 June 2021  facebook         341.369995
31  28 June 2021  facebook         355.640015
32  29 June 2021  facebook         351.890015
33  30 June 2021  facebook         347.709991
34  01 July 2021  facebook         354.390015
35  02 July 2021  facebook         354.700012
36  06 July 2021  facebook         352.779999
37  07 July 2021  facebook         350.489990
38  08 July 2021  facebook         345.649994
39  09 July 2021  facebook         350.420013

In [97]:
ymin,ymax = 300,380

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8, clip = True)
    .encode(
        x = "Date:T",
        y = alt.Y("Stock Prices(USD):Q", stack=None, scale = alt.Scale(domain=[ymin,ymax])),
        color = 'Name:N'
    )
)

In [98]:
chart

alt.Chart(...)